<%= form_tag sessions_path do %>

<h1>Form Login</h1>
<div class="row">
      <div class="col-lg-4">
        <fieldset class="form-group">
          <%= label_tag "Username" %>
          <%= text_field_tag :username, "", class: "form-control" %>
        </fieldset>

       <fieldset class="form-group">
          <%= label_tag "Password" %>
          <%= password_field_tag :password, "", class: "form-control" %>
        </fieldset>

        <%= submit_tag :submit %>
      </div>
</div>
<% end %>