<div class="container my">
<div class="row">
<div class="col-md-12">
<form class="form-horizontal" role="form">
<fieldset>

<!-- Form Name -->
<legend>Cari Kajian Berdasarkan</legend>

<%= form_tag(home_search_path, :method => "get", id: "search-form") do %>

<!-- Text input-->
<div class="form-group">
  <label class="col-lg-2 control-label" for="textinput">Nama Ustadz</label>
  <div class="col-lg-10">
  <%= text_field_tag :pengisi, params[:pengisi], placeholder: "Search Ustadz", class: "form-control"%>
    <p class="help-block"></p>
  </div>
</div>

  <div class="form-group">
    <label for="textinput" class="col-lg-2 control-label">Hari</label>
    <div class="col-lg-10">
      <%= text_field_tag :hari, params[:hari], placeholder: "Search Hari", class: "form-control"%>
      <p class="help-block"></p>
    </div>
  </div>

  <div class="form-group">
    <label for="textinput" class="col-lg-2 control-label">Tanggal</label>
    <div class="col-lg-10">
      <%= date_field_tag :tanggal, params[:tanggal], placeholder: "Search Tanggal", class: "form-control"%>
      <p class="help-block"></p>
    </div>
  </div>
  
<div class="form-group">
<label for="inputDescription" class="col-lg-2 control-label">Lokasi Kajian</label>
<div class="col-lg-10">
<%= text_area_tag :lokasi, params[:lokasi], placeholder: "Search Lokasi", class: "form-control", rows: 5%>
</div>
</div> 

<div class="form-group">
  <div class="col-lg-offset-2 col-lg-10">
    <div class="text-right">
    <%= submit_tag "Cari", :class => "btn btn-success bordered" %>
    <button type="reset" class="btn btn-danger bordered">Reset</button>
    </div>
  </div>
</div>
<% end %>

</fieldset>
</form>
</div> 
<div class="col-sm-7">
  <div class="span6">
    <h2>List Pengajian:</h2>
    <ul id="results">
    </ul>
  </div> 
</div>
<div id="map"></div>
</div>
  <script>
  // for map
  var map;

    function loadResults (data) {
      var items, markers_data = [];
      if (data.venues.length > 0) {
        items = data.venues;
        for (var i = 0; i < items.length; i++) {
          var item = items[i];
          if (item.latitude != undefined && item.longitude != undefined) {
            var icon = 'https://foursquare.com/img/categories/food/default.png';

            markers_data.push({
              lat : item.latitude,
              lng : item.longitude,
              title : item.judul_kajian,
              pengisi: item.pengisi,
              tanggal: item.tanggal,
              id: item.id,
              infoWindow: {
                content: "<p>"+item.judul_kajian+"<br />" +item.pengisi+ "<br/>" +item.tanggal+ "</p>"
              }
            });
          }
        }
      }

      map.addMarkers(markers_data);
    }

    function printResults(data) {
      $('#foursquare-results').text(JSON.stringify(data));
      //prettyPrint();
    }

    $(document).on('click', '.pan-to-marker', function(e) {
      e.preventDefault();

      var position, lat, lng, $index;

      $index = $(this).data('marker-index');

      position = map.markers[$index].getPosition();

      lat = position.lat();
      lng = position.lng();

      map.setCenter(lat, lng);
    });

    $(document).ready(function(){
      //prettyPrint();
      map = new GMaps({
        div: '#map',
        lat: 8.2751522,
        lng: 98.0984147
      });

      map.on('marker_added', function (marker) {
        var index = map.markers.indexOf(marker);
        console.log(marker)
        $('#results').append('<li><a href="#" class="pan-to-marker" data-marker-index="' + index + '">' + marker.title + '</a>' + ' ('+ marker.pengisi + ' ' + marker.tanggal + ')<a href="http://localhost:3000/events/' + marker.id + '">' + ' Selengkapnya..' + '</a>' +'</li>');

        if (index == map.markers.length - 1) {
          map.fitZoom();
        }
      });

      var xhr = $.getJSON('http://localhost:3000/home/get_json_event/' + window.location.search);
      xhr.done(printResults);
      xhr.done(loadResults);
    });
</script>